# Detailed Exploratory Data Analysis

Note: This notebook continues on from the previous notebook titled "Wine Data Cleaning and Initial EDA"

### Importing libraries and datasets

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import cleaning_functions as cf 

# Relative path to the CSV files
red_file_path = '../data/cleaned/winequality_red_cleaned.csv'  # Go up one level with '..', then into 'data/raw/'
white_file_path = '../data/cleaned/winequality_white_cleaned.csv' 
red_df = pd.read_csv(red_file_path)
white_df = pd.read_csv(white_file_path)

### Combining red and white dataframes

In [4]:
combined_df = red_df['wine_type'] = 'red'
white_df['wine_type'] = 'white'


# Concatenate the two DataFrames into one
combined_df = pd.concat([red_df, white_df], axis=0)

In [5]:
combined_df

,Unnamed: 0,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,wine_type
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3956,3956,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
3957,3957,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
3958,3958,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
3959,3959,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
3960,3960,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white